@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.activee {
  opacity: 1;
  visibility: visible;
  transform: translateY(20px);
  transition: 250ms ease-in;
}

.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 250ms ease-out;
}
