@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --bg-profile: #151312;
    --grey-100: #998f8f;
    --grey-200: #6a6b6e;
    --grey-300: #b6b4bd33;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #151312;
      --bg-profile: #ffffff;
      --grey-100: #998f8f;
      --grey-200: #6a6b6e;
      --grey-300: #b6b4bd33;
    }
  }

  .dark {
    --background: #151312;
    --bg-profile: #ffffff;
    --grey-100: #998f8f;
    --grey-200: #6a6b6e;
    --grey-300: #b6b4bd33;
  }

  .light {
    --background: #ffffff;
    --bg-profile: #151312;
    --grey-100: #998f8f;
    --grey-200: #6a6b6e;
    --grey-300: #b6b4bd33;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  color: white;
}

body * {
  @apply transition-colors duration-1000;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

.activee {
  opacity: 1;
  visibility: visible;
  transform: translateY(20px);
  transition: 250ms ease-in;
}

.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 250ms ease-out;
}
